html,
body {
  overflow-x: hidden;
}

body {
  color: #494846;
  background-color: white;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.pb-6 {
  padding-bottom: 64px;
}

.mt-6 {
  margin-top: 48px;
}

.mb-6 {
  margin-bottom: 48px;
}
