.navbr-custom {
  height: 64px;
  border-bottom: 5px solid $warning ;
  background-color: white;

  @include media-breakpoint-up(xxl) {
    height: 72px;
  }
}

.produt-custom {
  border-radius: 2rem;
  display: block;
  width: 351px;
  height: 238.2px;
  margin: 0 auto;

  @include media-breakpoint-up(xxl) {
    width: 641px;
    height: 441.3px;
    margin-left: -12px;
  }
}

.progress-bar-custom {
  background-color: #EEEEEE;
  width: 351px;
  height: 16px;
  border-radius: 8px;

  @include media-breakpoint-up(xxl) {
    width: 451px;
  }
}

.icon-custom {

  @include media-breakpoint-up(xxl) {
    width: 168px;
    display: flex;
    justify-content: space-between;
  }
}

.content-custom {
  width: 351px;
  height: 92.1px;
  background-color: white;

  border-radius: 8px;
  border-left: 3px solid $warning;

  display: flex;
  align-items: center;


  @include media-breakpoint-up(xxl) {
    width: 450px;
    height: 76px;
  }
}

.button-group{
  display: flex;
  justify-content: space-between;
  width: 452px;
}