.navbr-custom {
  height: 64px;
  border-bottom: 5px solid $warning ;
  background-color: white;

  @include media-breakpoint-up(lg) {
    height: 72px;
  }

  .logo-custom {
    width: 111px;
    height: 40px;
  }
}

.product-custom {
  border-radius: 2rem;
  display: block;
  width: 351px;
  height: auto;
  margin: 0 auto;

  @include media-breakpoint-up(lg) {
    max-width: 641px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.introduce-custom {
  width: 351px;


  @include media-breakpoint-up(lg) {
    max-width: 452px;
    width: 100%;
  }

  .progress-bar-custom {
    background-color: #EEEEEE;
    height: 16px;
    border-radius: 8px;

  }

  .icon-custom {

    @include media-breakpoint-up(lg) {
      width: 168px;
      display: flex;
      justify-content: space-between;
    }
  }

  .content-custom {
    // width: 351px;
    height: 92px;
    background-color: white;

    border-radius: 8px;
    border-left: 3px solid $warning;

    display: flex;
    align-items: center;


    @include media-breakpoint-up(lg) {
      height: 76px;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    width: 351px;

    @include media-breakpoint-up(lg) {
      max-width: 452px;
      width: 100%;
    }

    .btn-left {
      flex: 6;
      margin-right: 8px;
    }

    .btn-right {
      flex: 4;
    }
  }

}